/* main */
#main {
  width: 100%;
  height: 100%;
  /* overflow */
  overflow-x: hidden;
}

/* PC tablet nav */
#nav {
  display: none;
}

/* mobile nav 
==================================================*/
#mobile-nav {
  /* position */
  position: fixed;
  right: 25px;
  bottom: 25px;
  /* size */
  width: 60px;
  height: 60px;
  /* background */
  background-color: var(--opacity-black);
  /* border */
  border-radius: 50%;
  /* z-index */
  z-index: 1200;
}

.toggle {
  /* font */
  font-size: 1.8rem;
  color: var(--white-color);
  /* text */
  text-align: center;
  /* position */
  position: absolute;
  left: 50%;
  top: 50%;
  /* padding */
  padding: 10px;
  /* cursor */
  cursor: pointer;
  /* transfomr */
  transform: translate(-50%, -50%);
  z-index: 1200;
}

.mobile-nav-items {
  /* position */
  position: relative;
  /* size */
  width: 100%;
  height: 100%;
}

.nav-item {
  /* visible */
  visibility: hidden;
  /* font */
  font-family: var(--font-info);
  font-size: 0.8em;
  color: var(--white-color);
  /* text */
  text-align: center;
  /* display */
  display: block;
  /* position */
  position: absolute;
  left: 50%;
  top: 50%;
  /* size */
  width: 50px;
  height: 50px;
  /* transform */
  transform: translate(-50%, -50%);
  /* transition */
  transition: all 0.4s ease-in-out;
  /* bakcground */
  background-color: var(--opacity-black);
  /* border */
  border-radius: 50%;
  /* cursor */
  cursor: pointer;
  /* z-index */
  z-index: 1100;
  /* opacity */
  opacity: 0;
}

.nav-item a {
  /* position */
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform */
  transform: translate(-50%, -55%);
}

.home,
.about,
.menu,
.contact {
  /* visible */
  visibility: visible;
  /* opacity */
  opacity: 1;
}

.home {
  transform: translateX(-100px);
}

.about {
  transform: translate(-90px, -50px);
}

.menu {
  transform: translate(-50px, -90px);
}

.contact {
  transform: translateY(-100px);
}

/* home 
====================================================*/
#home {
  /* position */
  position: relative;
  /* size */
  width: 100%;
  height: 100vh;
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Home background img */
.home-img {
  /* position */
  position: absolute;
  top: 0;
  left: 0;
  /* size */
  width: 100%;
  height: 100%;
  /* background */
  background: url('../imgs/mainBG.jpg') no-repeat center/cover;
  /* filter */
  filter: brightness(70%);
}

#home-wrapper {
  /* size */
  height: 100%;
  /* padding */
  padding-top: 100px;
  padding-bottom: 100px;
  /* flex */
  align-items: center;
  justify-content: center;
  /* z-index */
  z-index: 1;
}

/* Logo */
.logo-wrapper {
  /* size */
  width: 100%;
  /* padding */
  padding-bottom: 40px;
  /* flex */
  display: flex;
  justify-content: center;
}

.logo-style {
  /* size */
  width: 400px;
}

.home-news {
  /* font */
  color: var(--white-color);
}

.home-news th {
  /* font */
  font-family: var(--font-title);
  font-size: 2.5rem;
  /* text */
  text-align: center;
  /* padding */
  padding: 1px 5px;
  /* border */
  border-bottom: 2px solid var(--white-color);
}

/* News table */

.home-news thead th {
  font-size: 2rem;
}

.home-news .link a {
  /* font */
  color: var(--white-color);
  /* transtion */
  transition: all 0.2s ease-in-out;
}

.link a:hover {
  /* font */
  color: var(--light-grey);
}

.home-news td {
  /* font */
  font-family: var(--font-main);
  font-size: 1.2rem;
  /* text */
  text-align: center;
  /* padding */
  padding: 15px 10px;
  /* border */
  border-bottom: 1px solid var(--light-grey);
}

/* table Max text length */
.content a {
  /* display */
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  height: 20px;
}

/* Scroll */
.scroll {
  /* position */
  position: relative;
  /* font */
  font-family: var(--font-main);
  font-size: 1.5rem;
  color: var(--white-color);
  /* cursor */
  cursor: pointer;
  /* flex */
  display: flex;
  align-items: flex-start;
  /* z-index */
  z-index: 2;
}

.scroll .line {
  /* size */
  height: 110px;
  width: 2px;
  /* overflow */
  overflow: hidden;
}

.line > span {
  /* display */
  display: block;
  /* size */
  width: 100%;
  height: 100%;
  /* background */
  background-color: var(--white-color);
  /* transform */
  transform: translateY(-110px);
  animation: scrollDown;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

/* scroll down animation*/
@keyframes scrollDown {
  from {
    transform: translateY(-110px);
  }
  to {
    transform: translateY(110px);
  }
}

.scroll-word {
  /* position */
  position: absolute;
  top: 37px;
  left: -40px;
  /* width */
  width: 100px;
  /* transform */
  transform: rotate(90deg);
}

/* about
======================================= */
#about {
  /* max-width */
  max-width: 2000px;
  /* size */
  width: 100%;
  /* padding */
  padding: 100px 0;
  /* margin */
  margin: 0 auto;
  /* flex */
  display: flex;
  justify-content: flex-end;
}

.about-wrapper {
  /* flex */
  align-items: center;
}
.about-contents {
  /* padding */
  padding-top: 20px;
  /* flex */
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#about-svg {
  /* size */
  width: 95%;
}

.about-word {
  /* font */
  font-family: var(--font-main);
  font-size: 1.2rem;
  /* text */
  text-align: justify;
  /* padding */
  padding-top: 20px;
  padding-left: 10px;
  /* size */
  width: 85%;
}

/* REPONSIVE */

@media screen and (min-width: 767px) {
  /* Home 
  ===================================*/
  #home {
    height: 100%;
  }
  #home-wrapper {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  /* Home news table */
  .home-news {
    width: 600px;
  }
  .content a {
    width: 340px;
  }
  /* About
  ================================== */
  #about-svg {
    /* size */
    width: 70%;
  }
}

@media screen and (min-width: 940px) {
  /* pc tablet nav 
  ==================================*/
  #nav {
    /* font */
    font-family: var(--font-main);
    color: var(--white-color);
    /* display */
    display: block;
    /* position */
    position: fixed;
    right: 50px;
    top: 50%;
    /* mix-blend */
    mix-blend-mode: difference;
    /* transform */
    transform: translateY(-50%);
    /* z-index */
    z-index: 1000;
  }

  .nav-wrapper {
    /* width */
    width: 100%;
    /* flex */
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .pc-nav-item {
    /* font */
    font-size: 1.5rem;
    /* margin */
    margin-bottom: 40px;
    /* width */
    width: 100px;
    /* cursor */
    cursor: pointer;
    /* flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .circle {
    display: inline-block;
    /* size */
    width: 20px;
    height: 20px;
    /* border */
    border: 1px solid var(--white-color);
    border-radius: 50%;
    /* transition */
    transition: all 0.4s ease-in-out;
  }

  .now {
    /* size */
    width: 25px;
    height: 25px;
    /* background */
    background-color: var(--white-color);
  }
  #mobile-nav {
    /* display */
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  /* About
  =================================== */

  .about-contents {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  #about-svg {
    /* size */
    width: 50%;
  }

  .about-word {
    /* font */
    font-size: 1.5rem;
    /* size */
    width: 40%;
  }
}

/* Height */
@media screen and (max-height: 772px) {
  /* Scroll */
  .scroll {
    /* position */
    position: relative;
    top: -40px;
    /* font */
    font-family: var(--font-main);
    font-size: 1.5rem;
    color: var(--white-color);
    /* cursor */
    cursor: pointer;
    /* flex */
    display: flex;
    align-items: flex-start;
    /* z-index */
    z-index: 2;
  }
}
