/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&family=Noto+Sans+KR:wght@300;400;700&family=Square+Peg&display=swap');
/* Reset */

/* Variable */
:root {
  /* font Family */
  --font-title: 'Square Peg', cursive;
  --font-main: 'Hi Melody', cursive;
  --font-info: 'Noto Sans KR', sans-serif;
  /* color */
  --deep-green: #003700;
  --white-color: #fff;
  --black-color: #000;
  --light-grey: #bbb;
  --opacity-black: rgba(0, 0, 0, 0.737);
  /* font weight */
  --weight-light: 300;
  --weight-regular: 400;
  --weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font */
  font-size: 100%;
  /* overflow */
  overflow-x: hidden;
}

body {
  /* backgorund */
  background-color: var(--white-color);
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: center;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.max-width {
  /* max-width */
  max-width: 1600px;
  /* size */
  width: 90%;
}

.max-width,
.contents-width {
  /* flex */
  display: flex;
  flex-direction: column;
}

.contents-width {
  /* max-width */
  max-width: 1450px;
  /* size */
  width: 90%;
}

.title-style {
  /* font */
  font-family: var(--font-title);
  font-size: 2.6rem;
  /* size */
  width: 100%;
  /* padding */
  padding-left: 20px;
  /* border */
  border-bottom: 2px solid var(--black-color);
}
